<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Output</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.5.4/c3.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.5.4/c3.min.js"></script>

    <style>
        .row{
            overflow-y: hidden;
            background-color: #def2f1;
        }

        .sidenav {
            background-color: #ffffff;
        }

        h3,h1{
            font-weight: bold;
        }

        body {
            height: 100%;
        }

        table, th, td {
            text-align: center;
            border:1px solid black;
        }

        hr.hrstyle {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }

        .c3-circle {
            opacity: 1 !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
<div class="container-fluid">
    <div class="row text-left">
        <div class="col-sm-2 sidenav"></div>
        <div class="col-sm-8">
            <center><h1>${noModelsData.repositoryName}</h1></center>
            <p>
                URL = <a href="${noModelsData.url}">${noModelsData.url}</a><br>
                This is estimation of issues occurence for  <a href="${noModelsData.url}">${noModelsData.repositoryName}</a> of user ${noModelsData.userName}.<br>
            </p>
            <b>Description:</b><br>
            <p>
                ${noModelsData.repositoryDescription}
            </p>
            <b>Size:</b> ${noModelsData.repositorySize}<br>
            <b>Contributors:</b> ${noModelsData.repositoryContributors}<br>
            <b>Watchers:</b> ${noModelsData.repositoryWatchers}<br>
            <b>Forks:</b> ${noModelsData.repositoryForks}<br>
            <b>First pushed at:</b> ${noModelsData.repositoryFirstPushedAt?datetime}<br>
            <b>Last pushed at:</b> ${noModelsData.repositoryLastPushedAt?datetime}<br>
            <b>Count of development days:</b> ${noModelsData.developmentDays}<br>
            <hr class="hrstyle">
            <h3>Releases:</h3>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name of Release</th>
                    <th>Date of Release</th>
                </tr>
                <#if noModelsData.releases?size != 0>
                    <#list noModelsData.releases as value>
                        <tr>
                            <td>${value?index + 1}</td>
                            <td>${value.name}</td>
                            <td>${value.publishedAt?date}</td>
                        </tr>
                    </#list>
                </#if>
            </table>
            <hr class="hrstyle">
            <h3>Info:</h3>
            <p>
                Estimated at <b>${noModelsData.createdAt?datetime}</b>.
            </p>
            <p>
                Initial number of total defects = ${noModelsData.initialNumberOfIssues}<br>
                Total defects in repository after processing and filtering = ${noModelsData.totalNumberOfDefects}<br>
            </p>
            <h3>Filters and Processors:</h3>
            <p>
                <b>Filters:</b><br>
                <#if noModelsData.filtersUsed?size != 0>
                <#list noModelsData.filtersUsed as value>
                - ${value}<br>
            </#list>
            <#else>
            - None<br>
        </#if>
        <b>Processors:</b><br>
        <#if noModelsData.processorsUsed?size != 0>
        <#list noModelsData.processorsUsed as value>
        - ${value}<br>
    </#list>
    <#else>
    - None<br>
</#if>
</p>
<h3>Trend test:</h3>
<p>
    Trend ${noModelsData.existTrend?string("exists", "does not exist")} .<br>
    Trend = ${noModelsData.trend?c}
</p>
<hr class="hrstyle">
    <div style="text-align: center;"><h3>Time between failures</h3></div>
<div id="chart2"></div>
<hr class="hrstyle">
    <div style="text-align: center;"><h3>No model suitable for data.</h3></div>
</div>
<script>
    var chart2 = c3.generate({
        bindto: '#chart2',
        data: {
            columns: [
                ['Time between failures', <#list noModelsData.timeBetweenDefects as pair>${pair.getSecond()?c},</#list>],
    ],
    type: 'scatter',
        colors: {
        'Time between failures': '#ff4444'
    }
    },
    axis: {
        x: {
            label: {
                text: 'Failures',
                    position: 'outer-center'
            }
        },
        y: {
            label: {
                text: 'Time between failures (${noModelsData.timeBetweenDefectsUnit})',
                    position: 'outer-middle'
            }
        }
    }
    });
</script>
</body>
</html>

